<section class='row d-flex justify-content-center' *ngIf="userName">
    <!-- SI NO ESTÁ LOGUEADO -->
    <div *ngIf="!isLogged" class="col-12 col-lg-7 text-center pageContainer">
        <!-- INICIO DEL PASO A PASO -->
        <div *ngIf="passwordIcons.length == 0">
            <h2 class='mt-5 fadeIn'>Ahora ingresaremos tu contraseña</h2>
            <p class='mt-5 fadeIn'>Para eso debes seleccionar tus tres (3) animales favoritos</p>
            <p class='mt-5 fadeIn'>Vamos con el primero</p>
        </div>
        <div *ngIf="passwordIcons.length == 1" class='fadeIn'>
            <h2>¡MUY BIEN!</h2>
            <p>Ahora escoge el segundo</p>
        </div>
        <div *ngIf="passwordIcons.length == 2" class='fadeIn'>
            <h2>¡EXCELENTE!</h2>
            <p>Un ultimo paso, escoge el tercero</p>
        </div>
        <div *ngIf="passwordIcons.length == 3" class='fadeIn'>
            <h2>¡PERFECTO!</h2>
            <p>Haz establecido tu contraseña</p>
        </div>
        <!-- FIN DEL PASO A PASO -->
        <!-- PROGRESO DE LA CONTRASEÑA -->
        <div *ngIf="passwordIcons.length > 0">
            <div class="row d-flex justify-content-center">
                <p class='text-center fadeIn' *ngIf="passwordIcons.length < 3">Así va tu contraseña</p>
                <p class='text-center fadeIn' *ngIf="passwordIcons.length == 3">Esta es tu contraseña</p>
                <div class="col-auto passwordContainer" *ngFor="let item of passwordIcons">
                    <span [ngStyle]="{'color': item.color}" class='{{item.icon}} fadeIn'></span>
                </div>
            </div>
        </div>
        <!-- FIN DEL PROGRESO DE LA CONTRASEÑA -->
        <div class="dropdown">
            <!-- BOTON PARA DESPLEGAR LA LISTA DE ICONOS -->
            <button *ngIf="passwordIcons.length != 3" (click)="sortIcons()" class="listButton p-4 fadeIn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Aquí encontrarás animales <span class="fas fa-caret-up"></span>
            </button>
            <!-- LISTA DE ICONOS -->
            <div class="dropdown-menu transform fadeIn" aria-labelledby="dropdownMenuButton1">
                <app-icons-container [icons]="icons" [passwordIcons]="passwordIcons"></app-icons-container>
            </div>
            <!-- BOTON PARA HACER EL LOGIN -->
            <button class='listButton fadeIn' *ngIf="passwordIcons.length == 3" (click)="login()" [disabled]="isLoading">
                <p class='m-0' *ngIf="isLoading">Ingresando... <span class="fas fa-spinner fa-spin"></span></p>
                <p class='m-0' *ngIf="!isLoading">Ingresa aquí</p>
            </button>
        </div>
    </div>
    <!-- SI ESTÁ LOGUEADO -->
    <div *ngIf="isLogged" class="col-12 col-lg-7 text-center pageContainer">
        <!-- SALUDO AL USUARIO CUANDO SE LOGUEA -->
        <h1 class='fadeIn'>¡Hola, {{userName}}!</h1>
        <h2 class='fadeIn'>Has iniciado sesión</h2>
    </div>
</section>